* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #3e342b;
    color: #1b1a1a;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #d4a053;
    font-size: 2.5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.form-section,
.lista-section {
    background-color: #2f2720;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #ffc874;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form label {
    font-weight: bold;
    color: #ffe9c8;
}

form input,
form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline-color: #2f2720;
}

form button {
    background-color: #2f2720;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

form button:hover {
    background-color: #241c16;
}


#livro-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.livro-card {
    border: 1px solid #d4a053;
    padding: 20px;
    border-radius: 12px;
    background-color: #d4a053;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.livro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.livro-info {
    flex: 1;
    min-width: 200px;
}

.livro-info p {
    margin: 6px 0;
}


.livro-acoes .excluir {
    background-color: transparent;
    border: 2px solid #d4a053;
    color: #eb2f06;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.livro-acoes .excluir:hover {
    background-color: #eb2f06;
    color: white;
}



.status-tag {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.status-lido {
    background-color: #31ff91;
}

.status-lendo {
    background-color: #3f7eba;
}

.status-nao-lido {
    background-color: #ff1d1d;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    form button {
        padding: 10px;
    }

    .livro-acoes button {
        padding: 6px 10px;
    }
}
